
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  
  }

.nav_border{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #584490;
    box-shadow:  0 1px 6px 0 rgba(32, 33, 36, .28);
}
.header{
    background-color: #584490;
}
.aboutus{
    background-image: #fefefe;
}
.pricing_screen{
    background-color: #584490;
}
.footer_screen{
    background-color: #584490;

}